body {
    margin: 0;
    padding: 0;
}

.main-image-wrapper {
    height: 200px;
    overflow-y: hidden;
    position: relative;
}

.main-image {
    position: absolute;
    top: -50%;
    width: 100%;
}
