body {
    margin: 0;
    padding: 0;
}

.header,
.footer {
    background-color: #CCCCCC;
    padding: 20px 0;
}

.page-title {
    margin: 0;
}

.content {
    padding: 20px;
    background-color: #fee;
}

nav {
    border: 3px solid #aff;
    background-color: #eff;
}

section {
    border: 3px solid gray;
    background-color: #efe;
    margin-bottom: 20px;
}

section:last-child {
    margin-bottom: 0;
}

.navigation {
    margin-bottom: 20px;
}

@media print {

    .content {
        background-color: #FFFFFF;
    }

    .navigation {
        display: none;
    }

    nav {
        background-color: #FFFFFF;
        border-color: #FFFFFF;
    }

    section {
        background-color: #FFFFFF;
    }
}

@media only screen and (min-width: 480px) {
    nav {
        width: 25%;
        float: left;
    }

    section {
        margin: 0;
        margin-left: 26%;
    }

    .navigation {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
}
